<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="login-container">
        <h2 class="login-title">Admin Login</h2>
        <form id="loginForm" action="{% url 'customadmin:admin_login' %}" method="post">
            {% csrf_token %}
            <div class="form-control">
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <div class="error-message" id="email-error"></div>
            </div>
            <div class="form-control">
                <input type="password" name="password" id="password" placeholder="Password">
                <div class="error-message" id="password-error"></div>
            </div>
            <button type="submit" class="login-button">Log In</button>
        </form>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>